<h2>Aktualizacja danych</h2>

<script type="text/ng-template" id="formfield2.html">
  <div id="template">
  <div class="control-group">
    <label class="control-label" for="{{prop | lowercase}}">{{prop}}</label>
    <div class="controls" ng-transclude>
    </div>
  </div>
  </div>
</script>

<form name="bikeform" class="form-horizontal">
  <formfield prop="Marka" ng-model="bike.title"></formfield>
  <formfield prop="Przebieg" ng-model="bike.mileage"></formfield>
  <formfield prop="Cena" ng-model="bike.price"></formfield>
  <formfield2 prop="Rok zakupu" ng-model="bike.year">
    <input type="text" ng-model="bike.year">
  </formfield2>

  <div class="form-actions">
    <button ng-click="save()" class="btn btn-primary">
      {{action}}
    </button>
    <a href="/" class="btn">Anuluj</a>
  </div>
</form>